<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary border-end" style="width: 280px; transition: all 0.3s; overflow: hidden;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link link-body-emphasis">Home</a>
        </li>
        <li>
            <a href="/about" class="nav-link link-body-emphasis">About</a>
        </li>
        <li>
            <a href="/sequence" class="nav-link link-body-emphasis">Numeric Sequences</a>
        </li>
    </ul>
</div>