<div class="container mt-4">
    <h1>Sequence Generator</h1>
    <form id="sequenceForm">
        <div class="mb-3 position-relative">
            <label for="sequenceSearch" class="form-label">Sequence Type</label>
            <input type="text" class="form-control" id="sequenceSearch" placeholder="Type to search sequence..." autocomplete="off">
            <input type="hidden" id="sequenceType" name="sequenceType" required>
            <ul id="sequenceList" class="list-group mt-1 shadow-sm" style="display:none; position:absolute; z-index:1000; width: 100%; max-height: 300px; overflow-y: auto;">
                <li class="list-group-item list-group-item-action" data-value="fibonacci">Fibonacci</li>
                <li class="list-group-item list-group-item-action" data-value="fibonacci_prime">Fibonacci Prime</li>
                <li class="list-group-item list-group-item-action" data-value="groups_order_n">Number of Groups (A000001)</li>
                <li class="list-group-item list-group-item-action" data-value="kolakoski">Kolakoski Sequence (A000002)</li>
                <li class="list-group-item list-group-item-action" data-value="zero">Zero Sequence (A000004)</li>
                <li class="list-group-item list-group-item-action" data-value="divisor_count">Number of Divisors (A000005)</li>
                <li class="list-group-item list-group-item-action" data-value="zero_characteristic">Zero Characteristic (A000007)</li>
                <li class="list-group-item list-group-item-action" data-value="ways_to_make_change">Ways to Make Change (A000008)</li>
                <li class="list-group-item list-group-item-action" data-value="partitions_distinct">Partitions into Distinct Parts (A000009)</li>
                <li class="list-group-item list-group-item-action" data-value="primes_a000040">The prime numbers (A000040)</li>
                <li class="list-group-item list-group-item-action" data-value="partitions">Partitions of n (A000041)</li>
                <li class="list-group-item list-group-item-action" data-value="mersenne_prime_exponents">Mersenne prime exponents (A000043)</li>
                <li class="list-group-item list-group-item-action" data-value="bicolorable_necklaces">Bicolorable Primitive Necklaces (A000048)</li>
                <li class="list-group-item list-group-item-action" data-value="unlabeled_trees">Unlabeled trees (A000055)</li>
                <li class="list-group-item list-group-item-action" data-value="sylvester">Sylvester's sequence (A000058)</li>
                <li class="list-group-item list-group-item-action" data-value="odious_numbers">Odious numbers (A000069)</li>
                <li class="list-group-item list-group-item-action" data-value="powers_of_2">Powers of 2 (A000079)</li>
                <li class="list-group-item list-group-item-action" data-value="rooted_unlabeled_trees">Rooted unlabeled trees (A000081)</li>
                <li class="list-group-item list-group-item-action" data-value="self_inverse_permutations">Self-inverse permutations (A000085)</li>
                <li class="list-group-item list-group-item-action" data-value="unlabeled_graphs">Unlabeled Graphs (A000088)</li>
                <li class="list-group-item list-group-item-action" data-value="free_polyominoes">Free Polyominoes (A000105)</li>
                <li class="list-group-item list-group-item-action" data-value="simplicial_polyhedra">Simplicial polyhedra (A000109)</li>
                <li class="list-group-item list-group-item-action" data-value="bell">Bell numbers (A000110)</li>
                <li class="list-group-item list-group-item-action" data-value="euler_zigzag">Euler zigzag numbers (A000111)</li>
                <li class="list-group-item list-group-item-action" data-value="unlabeled_posets">Unlabeled Posets (A000112)</li>
                <li class="list-group-item list-group-item-action" data-value="hamming_weight">Hamming weight (A000120)</li>
                <li class="list-group-item list-group-item-action" data-value="binary_partitions">Binary partitions (A000123)</li>
                <li class="list-group-item list-group-item-action" data-value="central_polygonal">Central polygonal numbers (the Lazy Caterer's sequence) (A000124)</li>
                <li class="list-group-item list-group-item-action" data-value="pell">Pell numbers (A000129)</li>
                <li class="list-group-item list-group-item-action" data-value="kendall_mann">Kendall-Mann numbers (A000140)</li>
                <li class="list-group-item list-group-item-action" data-value="factorial">Factorial numbers (A000142)</li>
                <li class="list-group-item list-group-item-action" data-value="partitions_into_2_squares">Partitions into 2 squares (A000161)</li>
                <li class="list-group-item list-group-item-action" data-value="subfactorial">Subfactorial (A000166)</li>
                <li class="list-group-item list-group-item-action" data-value="labeled_rooted_trees">Labeled Rooted Trees (A000169)</li>
                <li class="list-group-item list-group-item-action" data-value="tangent">Tangent Numbers (A000182)</li>
                <li class="list-group-item list-group-item-action" data-value="sum_divisors">Sum of Divisors (A000203)</li>
                <li class="list-group-item list-group-item-action" data-value="triangular">Triangular numbers (A000217)</li>
                <li class="list-group-item list-group-item-action" data-value="plane_partitions">Plane partitions (A000219)</li>
                <li class="list-group-item list-group-item-action" data-value="mersenne_numbers">Mersenne numbers (A000225)</li>
                <li class="list-group-item list-group-item-action" data-value="powers_of_3">Powers of 3 (A000244)</li>
                <li class="list-group-item list-group-item-action" data-value="sets_of_lists">Sets of Lists (A000262)</li>
                <li class="list-group-item list-group-item-action" data-value="quarter_squares">Quarter-squares (A002620)</li>
                <li class="list-group-item list-group-item-action" data-value="stern">Stern's diatomic series (A002487)</li>
                <li class="list-group-item list-group-item-action" data-value="binary_rooted_trees">Binary rooted trees (A002572)</li>
                <li class="list-group-item list-group-item-action" data-value="sqrt3_convergents_denominators">Denominators of convergents to sqrt(3) (A002530)</li>
                <li class="list-group-item list-group-item-action" data-value="sqrt3_convergents">Numerators of convergents to sqrt(3) (A002531)</li>
                <li class="list-group-item list-group-item-action" data-value="ways_two_squares">Ways as sum of at most two nonzero squares (A002654)</li>
                <li class="list-group-item list-group-item-action" data-value="planted_3_trees">Planted 3-trees of height n (A002658)</li>
                <li class="list-group-item list-group-item-action" data-value="labeled_trees">Labeled Trees (A000272)</li>
                <li class="list-group-item list-group-item-action" data-value="unlabeled_digraphs">Unlabeled Directed Graphs (A000273)</li>
                <li class="list-group-item list-group-item-action" data-value="squares">Squares (A000290)</li>
                <li class="list-group-item list-group-item-action" data-value="tetrahedral">Tetrahedral numbers (A000292)</li>
                <li class="list-group-item list-group-item-action" data-value="powers_of_4">Powers of 4 (A000302)</li>
                <li class="list-group-item list-group-item-action" data-value="connected_planar_graphs">Connected Planar Graphs (A003094)</li>
                <li class="list-group-item list-group-item-action" data-value="schroeder_fourth">Schroeder's fourth problem (A000311)</li>
                <li class="list-group-item list-group-item-action" data-value="nn">n^n (A000312)</li>
                <li class="list-group-item list-group-item-action" data-value="loeschian">Loeschian numbers (A003136)</li>
                <li class="list-group-item list-group-item-action" data-value="pentagonal">Pentagonal numbers (A000326)</li>
                <li class="list-group-item list-group-item-action" data-value="radon_hurwitz">Radon function (A003484)</li>
                <li class="list-group-item list-group-item-action" data-value="lcm_1_to_n">Least common multiple of {1, 2, ..., n} (A003418)</li>
                <li class="list-group-item list-group-item-action" data-value="composites">Composite numbers (A002808)</li>
                <li class="list-group-item list-group-item-action" data-value="parity">n mod 2; parity of n (A000035)</li>
                <li class="list-group-item list-group-item-action" data-value="square_pyramidal">Square pyramidal numbers (A000330)</li>
                <li class="list-group-item list-group-item-action" data-value="euler">Euler numbers (A000364)</li>
                <li class="list-group-item list-group-item-action" data-value="perfect">Perfect numbers (A000396)</li>
                <li class="list-group-item list-group-item-action" data-value="theta_series_square_lattice">Theta series of square lattice (A004018)</li>
                <li class="list-group-item list-group-item-action" data-value="theta_series_d4_lattice">Theta series of D_4 lattice (A004011)</li>
                <li class="list-group-item list-group-item-action" data-value="modular_j">Modular function j (A000521)</li>
                <li class="list-group-item list-group-item-action" data-value="cubes">Cubes (A000578)</li>
                <li class="list-group-item list-group-item-action" data-value="fourth_powers">Fourth Powers (A000583)</li>
                <li class="list-group-item list-group-item-action" data-value="sum_odd_divisors">Sum of Odd Divisors (A000593)</li>
                <li class="list-group-item list-group-item-action" data-value="ramanujan_tau">Ramanujan's tau function (A000594)</li>
                <li class="list-group-item list-group-item-action" data-value="alkanes">Number of Alkanes (A000602)</li>
                <li class="list-group-item list-group-item-action" data-value="threshold_functions">Threshold functions (A000609)</li>
                <li class="list-group-item list-group-item-action" data-value="fubini">Fubini numbers (A000670)</li>
                <li class="list-group-item list-group-item-action" data-value="abelian_groups_order_n">Number of Abelian groups (A000688)</li>
                <li class="list-group-item list-group-item-action" data-value="emirp">Emirp</li>
                <li class="list-group-item list-group-item-action" data-value="semiprime">Semi-prime</li>
                <li class="list-group-item list-group-item-action" data-value="circular_prime">Circular Prime</li>
                <li class="list-group-item list-group-item-action" data-value="natural">Natural</li>
                <li class="list-group-item list-group-item-action" data-value="cake">Cake</li>
                <li class="list-group-item list-group-item-action" data-value="catalan">Catalan</li>
                <li class="list-group-item list-group-item-action" data-value="totient">Totient</li>
                <li class="list-group-item list-group-item-action" data-value="totient_prime">Totient Prime</li>
                <li class="list-group-item list-group-item-action" data-value="zekendorf">Zekendorf</li>
                <li class="list-group-item list-group-item-action" data-value="lucas">Lucas</li>
                <li class="list-group-item list-group-item-action" data-value="collatz">Collatz</li>
            </ul>
        </div>
        <div class="mb-3">
            <label for="maxNumber" class="form-label">(Max) Number or Position</label>
            <input type="number" class="form-control" id="maxNumber" name="maxNumber" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="positional" name="positional">
            <label class="form-check-label" for="positional">Positional</label>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    <div id="resultContainer" class="mt-4" style="display:none;">
        <h3>Result</h3>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="resultName"></h5>
                <p class="card-text"><strong>Number:</strong> <span id="resultNumber"></span></p>
                <p class="card-text"><strong>Result:</strong> <span id="resultValue"></span></p>
                <p class="card-text"><strong>Sequence:</strong></p>
                <p id="resultSequence" class="card-text"></p>
            </div>
        </div>
    </div>

    <div id="errorContainer" class="alert alert-danger mt-4" style="display:none;"></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('sequenceForm');
    const resultContainer = document.getElementById('resultContainer');
    const errorContainer = document.getElementById('errorContainer');
    const resultName = document.getElementById('resultName');
    const resultNumber = document.getElementById('resultNumber');
    const resultValue = document.getElementById('resultValue');
    const resultSequence = document.getElementById('resultSequence');

    const sequenceSearch = document.getElementById('sequenceSearch');
    const sequenceList = document.getElementById('sequenceList');
    const sequenceType = document.getElementById('sequenceType');
    const listItems = sequenceList.querySelectorAll('li');

    sequenceSearch.addEventListener('input', function() {
        const filter = this.value.toLowerCase();
        let hasMatches = false;

        listItems.forEach(item => {
            const text = item.textContent.toLowerCase();
            if (text.includes(filter)) {
                item.style.display = '';
                hasMatches = true;
            } else {
                item.style.display = 'none';
            }
        });

        sequenceList.style.display = hasMatches ? 'block' : 'none';
        
        // Clear hidden input if search is cleared
        if (!this.value) {
            sequenceType.value = '';
        }
    });

    sequenceSearch.addEventListener('focus', function() {
        if (this.value || listItems.length > 0) {
            sequenceList.style.display = 'block';
        }
    });

    document.addEventListener('click', function(e) {
        if (!sequenceSearch.contains(e.target) && !sequenceList.contains(e.target)) {
            sequenceList.style.display = 'none';
        }
    });

    listItems.forEach(item => {
        item.addEventListener('click', function() {
            sequenceSearch.value = this.textContent;
            sequenceType.value = this.getAttribute('data-value');
            sequenceList.style.display = 'none';
        });
    });

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        
        const submitBtn = form.querySelector('button[type="submit"]');
        const originalBtnText = submitBtn.textContent;
        submitBtn.disabled = true;
        submitBtn.textContent = 'Generating...';

        resultContainer.style.display = 'none';
        errorContainer.style.display = 'none';

        const formData = {
            sequenceType: document.getElementById('sequenceType').value,
            maxNumber: document.getElementById('maxNumber').value,
            positional: document.getElementById('positional').checked
        };

        if (!formData.sequenceType) {
            errorContainer.textContent = 'Please select a valid sequence from the list.';
            errorContainer.style.display = 'block';
            submitBtn.disabled = false;
            submitBtn.textContent = originalBtnText;
            return;
        }

        fetch('/api/sequence', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(function(response) {
            if (!response.ok) {
                return response.text().then(function(text) {
                    throw new Error(text || 'Failed to generate sequence');
                });
            }
            return response.json();
        })
        .then(function(data) {
            resultName.textContent = data.name;
            resultNumber.textContent = data.number;
            resultValue.textContent = data.result;
            resultSequence.textContent = data.sequence.join(', ')
            
            resultContainer.style.display = 'block';
        })
        .catch(function(error) {
            errorContainer.textContent = error.message;
            errorContainer.style.display = 'block';
        })
        .finally(function() {
            submitBtn.disabled = false;
            submitBtn.textContent = originalBtnText;
        });
    });
});
</script>